<footer class="page-footer blue-grey darken-4">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <p>Copyright © 2020 | Love By © PandaProgrammingHub. </p>
                </div>
                <div class="col s12 m4">
                    <a href=" https://plus.google.com/+SantoshPanda299"
                        class="waves-effect waves-light btn btn-sm red darken-1">
                        <i class="fab fa-google center"></i>
                    </a>
                    <a href="https://twitter.com/santoshpandasan"
                        class="waves-effect waves-light btn btn-sm cyan darken-3">
                        <i class="fab fa-twitter center"></i>
                    </a>
                    <a href="https://github.com/pandaprogramminghub"
                        class="waves-effect waves-light btn btn-sm pink accent-3">
                        <i class=" fab fa-github center"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/santoshpanda299"
                        class="waves-effect waves-light btn btn-sm light-green darken-3">
                        <i class="fab fa-linkedin center"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>