<h5> Panda Online Chat Using AI (Node.Js, Socket-Io & MongoDB)</h5>
<div class="divider">
</div>
<div class="section">
    <p class="login-btn">
        <a href="/auth/google" class="waves-effect waves-light btn red darken-1">
            <i class="fab fa-google left"></i> Log In With Google
        </a>
    </p>
    <p class="login-btn">
        <a href="/auth/twitter" class="waves-effect waves-light btn cyan darken-3">
            <i class="fab fa-twitter left"></i> Log In With Twitter
        </a>
    </p>
    <p class="login-btn">
        <a href="/auth/github" class="waves-effect waves-light btn  pink accent-3">
            <i class="fab fa-github left"></i> Log In With GitHub
        </a>
    </p>
    <p class="login-btn">
        <a href="/auth/linkedin" class="waves-effect waves-light btn  light-green darken-3">
            <i class="fab fa-linkedin left"></i> Log In With LinkedIn
        </a>
    </p>



</div>